

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<div class="container">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-3">
            <h2>REGISTRAR-SE</h2> <hr> <br>

            <% if(success) { %>
                <div class="alert alert-success">
                    <%= success %>
                </div>
            <%  } %>

            <% if(errors) { %>
                <div class="alert alert-danger">
                    <%= errors %>
                </div>
            <%  } %>

            <form action="/register" method="post">

                <div class="form-goup">

                    <input class="form-control" type="text" placeholder="name" name="name"/> 
                    <input class="form-control" type="text" placeholder="e-mail" name="email"/> 
                    <input class="form-control" type="text" placeholder="password" name="password"/> 

                </div>

                <button class="btn btn-primary" type="submit">LOGIN</button>
            
            </form>

        </div>
    </div>
</div>

