

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<div class="container">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-3">
            <h2>RECUPERAÇÃO DE SENHA</h2> <hr> <br>

            <% if(success) { %>
                <div class="alert alert-success">
                    <%= success %>
                </div>
            <%  } %>

            <% if(errors) { %>
                <div class="alert alert-danger">
                    <%= errors %>
                </div>
            <%  } %>

            <form action ="/recover-password" method="post">

                <div class="form-goup">

                    <input class="form-control" placeholder="digite seu e-mail" type="text" name="email" />

                </div>

                <button class="btn btn-primary" type="submit">ENVIAR E-MAIL PARA RECUPERAÇÃO DE SENHA</button>
                
                <% if(success) { %>
   
                        <a href="/new-password">redefinição de senha</a>
                    
                <%  } %>

            </form>

        </div>
    </div>
</div>

