



<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<div class="container">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-3">
            <h3>REDEFINIÇÃO DE SENHA</h3> <hr> <br>

            <% if(success) { %>
                <div class="alert alert-success">
                    <%= success %>
                </div>
                <div class="text-center">
                    <h4>agora pode realizar seu login novamente</h4>
                </div>
            <%  } %>

            <% if(warning) { %>
                <div class="alert alert-warning">
                    <%= warning %>
                </div>
            <%  } %>

            <% if(errors) { %>
                <div class="alert alert-danger">
                    <%= errors %>
                </div>
            <%  } %>

            <% if(!success) { %>

            <form action ="/new-password" method="post">

                <div class="form-goup">

                    <input class="form-control" placeholder="seu nome" type="text" name="name" />
                    <input class="form-control" placeholder="seu email" type="text" name="email" />
                    <input class="form-control" placeholder="digite sua nova senha" type="text" name="password" />

                </div>

                <button class="btn btn-primary" type="submit">REDEFINIR A SENHA</button>
            
            </form>

            <%  } %>

        </div>
    </div>
</div>

